
body {
  box-sizing: border-box;
}
#header-img{
  display: none;
}
h1 {
  font-size: 25px;
}
i,
strong {
  color: #6610f2;
}

.btn{
  background-color:#6610f2;
  border: none;
}
.btn:hover{
  background-color:#6f42c1;
}
/*Header*/



#nav-bar {
  margin-left: 20px;
  padding-top: 1%;
}
header{
  background-color: #eee;
  position: fixed;
  height: 10%;
  z-index: 1000;
}
.navbar-brand {
  margin-right: 18%;
}
.navbar-brand i {
  margin-right: 14%;
}
.navbar-nav .nav-item {
  margin-right: 15%;
}

/*description*/
main{
  padding-top: 15%;
}
.fword{
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
#description{
  overflow: hidden;
}

/*form*/
form{
  margin-bottom: 8%;
  
}
form #email {
  width: 280px;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}
/*Features*/

#features {
  margin-top: 20%;
  margin-bottom: 8%;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.features-item {
  display: inline-flex;
  margin-bottom: 8%;
}

.features-item i{
  height: 32px;
  width: 32px;
}
.features-item__text {
  padding-left: 100px;
}

.features-item h3 {
  margin-bottom: -20px;
}

.features-item__logo {
  margin-top: 18px;
}

/*Vidéo*/
.arrow{
  box-shadow: 0px 6px 6px -6px rgba(163,163,163);
  width: 50%;
  
}
#arrow{
  cursor: pointer;
  font-size: 3rem;
  margin-bottom: 1%;
  animation: slow 1500ms ease-in-out infinite;
}
.show{
  animation: show 1500ms ease-in ;
}
.invisible{
  display: none;
}
.video{
  margin-bottom: 8%;
}
@keyframes slow{
  from{
    transform: translateY(-60px) ;
    opacity: 0;
    
  }to{
    transform: translateY(-0px) ;
    opacity:1;
  }
}
@keyframes show{
 from{
  opacity: 0; 
  
 }to{
  opacity: 1; 
  
 }
}

/*card*/

#pricing{
  margin-top: 8%;
  margin-bottom: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  z-index: -1000;
}
.card{
 width: 250px;
 height: 350px;
 padding-top: 8%;
 margin: 0 20px;
}

.card h5{
  padding: 10% 0 15% 0;
  color: #6610f2;
}